.footer {
  width: 100%;
  padding: 30px 5rem;
  background-color: rgb(var(--main-bg-color));
  border-top: 1px solid gray;
}

.footer h3 {
  margin: 0;
}

.footer h3,
.footer h4 {
  color: var(--text-color);
  text-align: center;
}

.footer .row {
  margin-bottom: 5rem;
}

.footerabout {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid var(--text-color);
  font-size: 1rem;
  align-items: center;
}
.footerabout .footerDesc {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerabout h3 {
  font-size: 1rem;
}
.footerabout .abouttext {
  font-size: 0.8rem;
  width: 70%;
  text-align: justify;
}
.sociallinks {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.sociallinks a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--text-color);
  margin: 5px;
}
.sociallinks a svg{
  fill: var(--text-color);
}

.footer p {
  text-align: center;
  color: var(--text-color);
}

.footer .column p a {
  text-decoration: none;
  color: var(--text-color);
}
@media (max-width: 700px) {
  .sociallinks {
    gap: 20px;
  }
}
