.header {
  width: 100%;
  overflow: hidden;
  padding: 30px 5rem;
  font-family: "Baloo Bhaina 2", cursive;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: right;
}
.navigation {
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(var(--main-bg-color));
  box-shadow: 0 25px 10px rgb(var(--blackshade), 0.5);
}
.phoneVisible {
  position: relative;
  z-index: 3;
  width: 20%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--main-bg-color));
  padding: 10px;
}
.navigation .appnameBx .appname {
  white-space: nowrap;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .appnameBx .appname svg,
.navigation .appnameBx .appname span {
  color: rgb(var(--sp-txt));
}
.navlinks {
  width: 80%;
  overflow: hidden;
  padding: 10px;
}

.menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 5px;
}

.menu li {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menu li a {
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  color: white;
}
.active {
  color: var(--white-shade) !important;
}
.menu li a:hover {
  color: rgb(var(--sp-txt));
  border-bottom: 2px solid rgb(var(--sp-txt));
}

.navigation .menuToggle {
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  color: white;
}

@media (max-width: 772px) {
  .navigation {
    flex-direction: column;
    justify-content: start;
    background: transparent;
    height: 60px;
    align-items: flex-end;
    transition: height 0s;
    transition-delay: 0.5s;
  }
  .navigation.active {
    box-shadow: none;
    height: 100vh;
    transition: height 0s;
    transition-delay: 0s;
  }
  .phoneVisible {
    width: 100%;
    box-shadow: 0 25px 10px rgb(var(--blackshade), 0.5);
  }
  .navlinks {
    width: 0px;
    height: calc(100vh - 60px);
    overflow: hidden;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0s;
  }
  .navigation.active .navlinks {
    width: 40%;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0s;
  }
  .navigation .navlinks::after {
    content: "";
    top: 60px;
    width: 0%;
    right: 0px;
    height: calc(100vh - 60px);
    position: absolute;
    z-index: -1;
    background: black;
    opacity: 0.6;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0s;
  }
  .navigation.active .navlinks::after {
    width: 40%;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0s;
  }

  .menu {
    align-items: center;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .navigation .menuToggle {
    display: flex;
  }
}
