.Header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.Navbar {
  padding: 10px 7vw;
  height: 60px;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 5vw;
  overflow: hidden;
  background-color: rgb(var(--main-bg-color));
  box-shadow: 0 5px 5px rgba(var(--shade-color), 0.5);
}

.Navbar .navFirsthalf {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.Navbar .navFirsthalf .logoBx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.Navbar .navFirsthalf .logoBx .logo {
  width: 40px;
  height: 40px;
  fill: rgb(var(--focus-color));
}
.Navbar .navFirsthalf .appName {
  color: var(--text-color);
}
.Navbar .navFirsthalf .appName .focusText {
  color: rgb(var(--focus-color));
}
.Navbar .navFirsthalf .themeToggle {
  position: absolute;
  top: 0px;
  height: 60px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar .navFirsthalf .themeToggle .themeToggleBtn {
  background: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
}
.Navbar .modeBtnHidden {
  display: none;
}
.Navbar .menuToggle {
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Navbar .menuToggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--text-color);
  transform: translateY(-10px);
  box-shadow: 0 10px var(--text-color);
  transition: 0.5s;
}

.Navbar.active .menuToggle::before {
  content: "";
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 rgb(var(--focus-color));
  background: rgb(var(--focus-color));
}

.Navbar .menuToggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--text-color);
  transform: translateY(10px);
  transition: 0.5s;
}

.Navbar.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 rgb(var(--focus-color));
  background: rgb(var(--focus-color));
}

.Navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 7px;
}

.Navbar .menu li {
  list-style: none;
}

.Navbar .menu li a {
  color: var(--text-color);
  padding: 5px;
  text-decoration: none;
}

.Navbar .menu li a:hover {
  border-bottom: 2px solid rgb(var(--focus-color));
  color: rgb(var(--focus-color));
}

@media (max-width: 790px) {
  .Navbar {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
    gap: 0;
    overflow: visible;
  }

  .Navbar .navFirsthalf {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 5px rgba(var(--shade-color), 0.5);
  }
.Navbar .navFirsthalf .themeToggle {
  right: 50px;
}
  .Navbar .menuToggle {
    display: flex;
  }

  .Navbar .menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 60px);
    width: 0;
    padding-bottom: 70px;
    top: 60px;
    position: absolute;
    background-color: rgba(var(--shade-color), 0.5);
    overflow: hidden;
    transition: width 0.5s;
    transition-delay: 0s;
  }

  .Navbar.active .menu {
    width: 50vw;
  }
}
